h3 {
text-align: center;
}

.jumbotron {
  text-align: center;
}

.color {
  background-color: #3ccd54;
  border-radius: 9%;
  border: solid 3px;
  margin: 3px;
  padding-bottom: 15px;
}

.color2 {
  background-color: #3ca1cd;
  border-radius: 5%;
  border: solid 3px;
  margin: 3px;
  padding-bottom: 25px;
}

body {
  color: gray;
}
